parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''ars\-correlation\-id'' on array\<string, mixed\>\|int\|stdClass\|string\|void\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Formatter/ArsJsonFormatter.php

		-
			message: '#^Cannot access offset ''ars\-parent\-id'' on array\<string, mixed\>\|int\|stdClass\|string\|void\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Formatter/ArsJsonFormatter.php

		-
			message: '#^Cannot access offset ''ars\-request\-id'' on array\<string, mixed\>\|int\|stdClass\|string\|void\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Formatter/ArsJsonFormatter.php

		-
			message: '#^Cannot access offset ''entries'' on array\<string, mixed\>\|int\|stdClass\|string\|void\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Formatter/ArsJsonFormatter.php

		-
			message: '#^Cannot access offset ''extra'' on array\<string, mixed\>\|int\|stdClass\|string\|void\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Formatter/ArsJsonFormatter.php

		-
			message: '#^Cannot access offset ''tags'' on array\<string, mixed\>\|int\|stdClass\|string\|void\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Formatter/ArsJsonFormatter.php

		-
			message: '#^Comparison operation "\<\=" between 1\|2 and 2 is always true\.$#'
			identifier: smallerOrEqual.alwaysTrue
			count: 2
			path: src/Handler/ArsCloudWatchHandler.php

		-
			message: '#^Parameter \#1 \$data of class ArrowSphere\\CloudWatchLogs\\Processor\\ArsHeader\\ArsHeaderManager constructor expects array\<string, string\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Processor/ArsHeader/ArsHeaderManager.php
